.mat-table {
  overflow: auto;
  max-height: calc(100vh - 200px);
  width: 100%;
}

.city-selection {
  margin-left: 20px;
}

.filter-row {
  display: flex;
  align-items: center;
}

.reset-filter {
  margin-left: auto;
}

@media screen and (max-width: 960px) {
  .mat-header-row {
    display: none;
  }

  tbody {
    display: block;
    width: 100%;
  }

  .mat-table {
    background: transparent;
  }

  .mat-table * {
    box-sizing: border-box;
  }

  .mat-table .mat-row {
    display: block;
    overflow: hidden;
    height: auto;
    position: relative;
    clear: both;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    background-color: #fff;
    border-radius: 3px;
  }

  .mat-table .mat-row + .mat-row {
    margin-top: 24px;
  }

  .mat-table .mat-cell {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 16px;
    border: 0 none;
  }

  .mat-table .mat-cell:first-child {
    padding: 0 48px 0 16px;
  }

  .mat-table .mat-cell:first-child a {
    font-size: 20px;
    color: inherit;
  }

  .mat-table .mat-cell:first-child:before {
    display: none;
  }

  .mat-table .mat-cell.m-card-sub-title {
    margin-top: -8px;
    padding: 0 48px 0 16px;
    color: rgba(0, 0, 0, .54);
  }

  .mat-table .has_label_on_mobile:before {
    content: attr(data-label);
    display: inline;
    color: #222;
    font-weight: bold;
    margin-right: 10px;
  }

  .mat-table .mat-column-star {
    width: auto;
    padding: 8px 0 0 !important;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }

  .mat-table .mat-column-star:before {
    display: none;
  }

  .mat-table .date-time {
    font-size: 14px;
    color: #aaa;
    justify-content: flex-end;
  }

  .mat-table .position {
    font-size: 20px;
    color: #000;
    position: absolute;
    right: 20px;
    top: 20px;
    width: auto;
  }

  .mat-table mat-row::after {
    min-height: auto;
  }

  .mat-paginator {
    margin-top: 24px;
  }

  .selection, .reset-filter {
    width: 100%;
  }

  .city-selection {
    margin-left: 0;
  }

  .filter-row {
    flex-direction: column;
    margin-bottom: 20px;
  }
}